<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>
  <body>
    <main id="app" className="main_image">
    </main>

  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
